<p style="color: green"><%= notice %></p>

<%= render @inventory_unit %>

<div>
  <%= link_to "Edit this inventory unit", edit_inventory_unit_path(@inventory_unit) %> |
  <%= link_to "Back to inventory units", inventory_units_path %>

  <%= button_to "Destroy this inventory unit", @inventory_unit, method: :delete %>
</div>
